// src/scss/abstracts/_variables.scss

// Colors
$primary-color: #4a90e2;
$secondary-color: #212121;
$background-color: #121212;
$text-color: #e0e0e0;
$link-color: $primary-color;
$header-footer-background: #212121;

// Fonts
$font-family: 'Poppins', sans-serif;

// Font size
$font-size-default: 1.6rem;
$font-size-large: 2.4rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.2rem;

// Padding
$padding-side: 4.8rem;
$padding-side-small: 2.4rem;

// Line height

$line-height-default: 1.5;
$line-height-heading: 1.2