// src/scss/abstracts/_variables.scss

// Colors
$primary-color: #00315c;
$secondary-color: #fa4854;
$background-color: #121212;
$text-color: #e0e0e0;
$link-color: $primary-color;
$header-footer-background: #212121;

// Fonts
$font-family: 'Poppins', sans-serif;

// Font size
$font-size-default: 1.6rem;
$font-size-large: 2.4rem;
$font-size-medium: 1.8rem;
$font-size-small: 1.2rem;

// Padding
$padding-section: 8rem;
$padding-section-mobile: 3rem;
$padding-side: 4.8rem;
$padding-side-small: 2.4rem;
$header-padding: 1.5rem;
$header-padding-medium: 2rem;
$header-padding-big: 4rem;
$header-padding-huge: 6rem;


// Margin
$margin-section: $padding-section;
$margin-section-mobile: $padding-section-mobile;
$header-margin: $header-padding;
$header-margin-medium: $header-padding-medium;
$header-margin-big: $header-padding-big;
$header-margin-huge: $header-padding-huge;

$icon-margin: 1rem;


// Radius
$component-radius: 1.5rem;

// Line height

$line-height-default: 1.5;
$line-height-heading: 1.2